.vs
.obj
.aps
.ilk
.exp
*.log
*.VC.db
*.VC.VC.opendb
*.sln
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
cmake_install.cmake
/ipch
/.vscode
/dist
/node_modules
Debug
Release
MinSizeRel
RelWithDebInfo
CMakeFiles
Testing